<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.uestc.mapper.AccountMapper">

    <select id="selAll"
            resultType="cn.uestc.pojo.Account">
        select * from account;
    </select>
    <select id="selByAccno"
            parameterType="string"
            resultType="Account">
        select * from  account where accno= #{accno};
    </select>
    <update id="upd" parameterType="Account">
        update account set balance=#{balance} where accno=#{accno};

    </update>
</mapper>