<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace:理解成实现类的全路径（包名+类名）-->
<mapper namespace="cn.uestc.mapper.PeopleMapper">
    <!-- id:方法名
    parameterType:定义参数类型
    resultType:返回值类型.如果方法返回值是 list,在 resultType 中写 List 的泛型,因为 mybatis是对 jdbc 封装,
               一行一行读取数据（jdbc的select返回的结果集是通过迭代器按行读取的）
    -->
    <select id="selAll"
            resultType="cn.uestc.pojo.People">
        select * from people;
    </select>
    <select id="selCount" resultType="long">
        select count(*) from  people;
    </select>

    <!--带参数查询,参数为int-->
    <select id="selById"
        parameterType="int"
        resultType="cn.uestc.pojo.People">
        select * from people where id=#{id};
    </select>

    <!--带参数查询,参数为对象-->
    <select id="selByPeopleId"
            parameterType="cn.uestc.pojo.People"
            resultType="cn.uestc.pojo.People">
        select * from people where id=#{id} and age=#{age} and name=#{name};
    </select>


    <!--带参数查询,参数为Map-->
    <select id="selByMap"
            parameterType="map"
            resultType="cn.uestc.pojo.People">
        select * from people where id=#{id} and age=#{age} and name=#{name};
    </select>

    <select id="selMap" resultType="cn.uestc.pojo.People">
        select * from people;
    </select>

    <!--插入-->
    <insert id="insertPeople"
        parameterType="cn.uestc.pojo.People">
        insert into people(
          name, age
          )
          values (#{name},#{age})
    </insert>

    <!--更新-->
    <update id="upd" parameterType="People">
        update people set name = #{name} where id = #{id}
    </update>

    <!--删除-->
    <delete id="del" parameterType="int">
        delete from people where id = #{0}
    </delete>

    <!--mybatis分页查询-->
    <select id="page"
            parameterType="map"
        resultType="People">
        select * from people limit #{pageStart},#{pageSize}
    </select>



    <!--测试mybatis.xml中typeAlias别名标签的使用-->
    <select id="selOne2"
            resultType="People">
        select * from people where id=#{id};
    </select>
</mapper>